# Python caches
__pycache__/
*.pyc

# Virtual Environments
venv/
env/
.env/

# Datasets & Checkpoints
datasets/
checkpoints/
results/
inference_results/

# Log files
*.log
temp_log.txt
temp_log_ansi.txt

# Editor / OS files
.DS_Store
.vscode/
.idea/
